//
// Typography Color Overrides
//

$body-background-color: $grey-lt-100 !default;
$sidebar-color: $grey-dk-100 !default;

$nav-child-link-color: $white !default;
$link-color: $blue-000 !default;
$btn-primary-color: $blue-100 !default;
$base-button-color: #f7f7f7 !default;
